#img1{
  height: 35em;
}
#headTitle{
  position: relative;
  left: 5em;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
}
.card-deck{
  position: relative;
  top: 3em;
  padding-bottom: 2em;
  left: 8em;
  max-width: 70em;
  width: 60;
}
#boton{
  position: relative;
  top: 4em;
}
#drop{
  position: relative;
  top: 1em;
  left: 2em;
  width: 15em;
}
#flexed{
  display:flex;
	flex/direction:row;
	flex-wrap:wrap;
	justify-content:flexend;
}
