.flexBox{
  display:flex;
	flex/direction:row;
	flex-wrap:wrap;
	justify-content:flexend;
}
#mainCarro{
  max-height: 30em;
  height: 15em;
  position: relative;
}
#cuestionario{
  position: relative;
  top: 5em;
  padding-bottom: 5.5em;
}
.jumbotron{
  font-size: 0.4em;
}
#enviar{
  position: relative;
  left: 30em;
  color: #fff;
  position: center;
}
#main{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 3em;
  position: relative;
  top: 0.2em;
  left: 2.8em;
  margin-bottom: 1.5em;
}
#drop{
  position: relative;
  top: 1em;
  left: 2em;
  width: 15em;
}
#anexo{
  max-width: 15em;
  position: relative;
  right: 2em;
  left: 2em;
  width: 10;
  height: 10.5em;
}
.img-fluid{
  height: 16em;
}
p{
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}
.alineacion{
  padding-right: .5em;
  padding-top: .5em;
  position: relative;
  left: 0.4em;
}
#instrucciones{
  position: relative;
  top:3em;
  left: 10em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8em;
  background-color: #C3E9FF;
  max-width: 25em;
  width: 18;
  max-height: 4em;
  height: 1.5em;
  border-radius: 0.5em;
}
#enviar{
  position: relative;
  left: 35em;
}
#signosMain{
  position: relative;
  left: 5em;
}
